@charset "utf-8";

body {
  background-color: #F2F2F2;
  margin: 5px;
}

header {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;  
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  padding: 5px;
  margin-top: 10px;
} 



h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  text-align: center;
}
 
main{
   
}

footer {
 
  margin-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #A4A4A4 ;
  color: white;
  text-align: right
}
